
/* MOBILE SCREEN */
.download-bg div {
    grid-column: 1 / 9;
    text-align: center;
}
.download-right {
    display: none;
}
.download-left h2 {
    font-size: 2.8rem;
    font-weight: 800;
}
.download-left p {
    font-size: 1.2rem;
    margin: 31px 0px;
}
.download-store {
    width: 100%;
}
.download-store a > img {
    max-width: 237px;
    padding-bottom: 37px;
}






/* .download {
    font-size: 2.3rem;
    color: var(--bg-white);
    max-height: 500px;
    position: relative;
    margin-top: 210px;
    margin-bottom: 170px;
}
.download-bg {
    background-color: var(--highlight);
    border-radius: 53px;
    min-height: 470px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.download-left {
    grid-column: 1 / 2;
    padding-left: 97px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.download-left p {
    font-size: 1.3rem;
    color: rgba(241, 241, 241, 0.6);
}

.download-store {
    display: flex;
    gap: 37px;
    margin-top: 37px;
}
.download-store > a img {
    max-width: 190px;
    cursor: pointer;
}
.phone-png {
    max-height: 597px;
    position: absolute;
    right: 287px;
    bottom: 0;
} */