/* CHANGING THE DEFAULT BUTTON'S VALUE */
.review-bg button {
    width: auto;
    padding: none;
    border-radius: none;
    box-shadow: none;
}
.review-bg button:hover {
    box-shadow: none;
    transition: none;
}

/* TOP PART */
.top-review {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--primary-text);
    margin-top: 7rem;
}
.top-review > h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}
.review-logos {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 31px;
    width: 100%;
    position: relative;
}
.rev-logo:nth-of-type(1) {
    grid-column: 2 / 4;
}
.rev-logo:nth-of-type(2) {
    grid-column: 4 / 6;
}
.rev-logo:nth-of-type(3) {
    grid-column: 6 / 8;
}
.rev-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.rev-logo span {
    position: absolute;
    bottom: 21px;
    color: var(--pink);
}
.rev-logo a {
    position: absolute;
    bottom: 0px;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--secondary-text);
    text-decoration: none;
} 
.rev-logo a:hover {
    color: var(--pink);
}
.rev-logo > img {
    max-width: 130px;
    margin-bottom: 37px;
}

/* BOTTOM PART */
.review-bottom-bg {
    margin-top: 3rem;
    background-color: var(--bg-white);
}
 
.review-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 37px;
    text-align: left;
    line-height: 1.5;
    gap: 57px;
}

.review-box {
    flex-basis: calc(31.33% - 160px);
    height: 330px;
    padding: 37px 27px;
    position: relative;
}

.review-box:nth-of-type(odd) {
    background-color: var(--silver);
}
.review-box:nth-of-type(even) {
    background-color: burlywood;
}

.review-bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 13px;
}


/* CAROUSEL LIBARY CLASSES */
.carousel.carousel-slider .control-arrow {
    background-color: var(--highlight);
    opacity: 1;
    color: cadetblue;
    max-height: 20%;
    transform: translate(-1%, 220%);
}
.carousel.carousel-slider .control-arrow:hover {
    background-color: var(--secondary-text);
}

.review-bottom > img {
    max-width: 70px;
} 
.face-commment {
    font-style: italic;
    font-weight: 600;
}