.team-bg {
    grid-area: content;
    margin-top: 7px;
    padding: 33px 0px;
}

/* MOBILE SCREEN */
.top-team-bg {
    min-height: 373px;
    position: relative;
}
.top-team-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url('../../Assets/images/contact-right.jpg');
    background-size: cover;
    background-position: bottom 40% right 50%;
    background-repeat: no-repeat;
}
.top-team {
    background-color: var(--r-secondary-text);
    min-height: 473px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-team * {
    text-align: center;
    padding: 0px 23px;
    color: var(--bg-white);
    font-weight: 700;
}
.top-team p {
    margin-top: 17px;
    font-size: 1.2rem;
    padding-top: 13px;
    padding-bottom: 13px;
}
.top-team ul > li {
    color: var(--pink);
    font-size: 1.2rem;
}


/* THE TEAM */
.end-team {

}
.end-team > h1 {
    margin: 51px 0px;
    font-size: 2.5rem;
    text-align: center;
}
.end-team-parent {
    padding: 43px 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
}
.team-box {
    width: min(80%, 375px);
    padding: 30px 30px 0px 30px;
    background-color: var(--bg-white);
    box-shadow: 0px 0px 7px 1px var(--silver);
    text-align: center;
}
.team-box > img {
    width: min(100%, 367px);
}
.team-box-info {
    margin: 17px 0px;
}
.team-box p {
    padding: 0;
}

@media (min-width: 800px) {
    .end-team-parent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 73px;
    }
}