
































/* .faq-bg {
    background-color: var(--bg-white);
    min-height: 700px;
    overflow-x: hidden;
    position: relative;
}
.faq-container {
    max-width: 45vw;
    margin: auto;
}

.faq-top {
    text-align: center;
    padding: 37px 0px;
    color: var(--primary-text);
    font-weight: 800;
    padding-top: 5rem;
    padding-bottom: 4rem;
}
.faq-top h3 {
    font-size: 1.7rem;
}
.faq-top h2 {
    font-size: 2.5rem;
}
.faq-top p {
    font-size: 1.1rem;
    font-weight: 500;
}

.faq-bottom {
    line-height: 1.5;
}


.side-car {
    max-width: 590px;
    position: absolute;
    right: -111px;
    top: 297px;
} */