

/* MOBILE SCREEN */
.book-it {
    font-size: 1.3rem;
    margin: 37px 0px;
    background-color: var(--bg-white);
    box-shadow: 0px 0px 7px 1px var(--silver);
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
} 
.book-it > h1 {
    text-align: center;
    padding-top: 21px;
}
.main-form {
    padding: 41px 0px;
}
.main-form > div {
    grid-column: 1 / 9;
}
.main-form p {
    padding-bottom: 11px;
}
.six {
    width: 100%;
}
.input-input {
    width: 100%;
    border: 1px solid var(--silver);
    outline: none;
    border-radius: 3px;
}

.required-message {
    color: var(--pink);
    text-align: center;
    font-size: 1.3rem;
}
@media (min-width: 700px) {

    .main-form > div {
        grid-column: span 4;
    }
    .book-it > h1 {
        text-align: left;
        padding-left: 91px;
    }   
    .btn {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 7px;
    }
    .six {
        margin: 30px 0px;
        padding: 0.7rem 0.5rem;
    }
}
@media (min-width: 1000px) {
    .book-it {
        margin-top: 91px;
        margin-bottom: 97px;
    }
    .book-it > h1 {
        padding-left: 63px;
    }
} 

@media (min-width: 1150px) {
    .book-it {
        max-width: 65%;
    } 
    .main-form > div {
        grid-column: span 3;
    }
    .one, .two, .three {
        grid-row: 1;
    }
}

































/* .ReactModal__Content {
    width: 100%;
    max-width: 57vw;
    margin: 0 auto;
}

.ReactModalPortal {
    z-index: 3;
}
.ReactModal__Overlay {
    z-index: 3;
}  */