






















/* .book-it {
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 87%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 0px 0px 7px 1px var(--silver);
    z-index: 2;
    min-width: 1200px;
}
.home-form {
    width: 100%;
    padding: 43px;
}
.form-hone {
    color: var(--secondary-text);
    font-size: 2.1rem;
}
.main-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--secondary-text);
}
.input-input {
    width: 100%;
    padding: 13px;
    border: 1px solid var(--silver);
    outline: none;
    border-radius: 3px;
}
.form-input p {
    text-align: left;
}
.btn {
    display: flex;
    align-items: flex-end;
}

.required-message {
    color: var(--pink);
    text-align: center;
    font-size: 1.3rem;
}
.form-input, .six {
    margin: 10px;
}






.ReactModal__Content {
    width: 100%;
    max-width: 57vw;
    margin: 0 auto;
}

.ReactModalPortal {
    z-index: 3;
}
.ReactModal__Overlay {
    z-index: 3;
} */