.support-bg {
    background-color: var(--primary-text);
    /* margin-bottom: 57px; */
    padding: 27px 0px;
}

/* MOBILE SCREEN */
.support-info {
    text-align: center;
    padding: 37px 0px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.support-info > h1 {
    font-weight: 800;
    font-size: 2.5rem;
    color: var(--bg-white);
    padding-bottom: 21px;
}
.support-info > p {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--silver);
}
.support-info span {
    color: var(--pink);
    padding: 3px;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 1.7rem;
}
























/* .support-bg {
    background-color: var(--secondary-text);
    min-height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 91px 0px 0px 0px;
}
.support-info {
    color: var(--bg-white);
    text-align: center;
    font-size: 3rem;
}
.support-info > h1 {
    margin-bottom: 0.8rem;
}
.support-info > p {
    font-size: 1.4rem;
}
.support-info span {
    color: var(--pink);
    padding: 3px;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 1.7rem;
} */