.home {
    grid-area: content;
    margin-top: 4.5rem;
}

/* MOBILE SCREEN */
.home-right {
    display: none;
}
.home-main {
    margin-top: 17px;
}
.home-left {
    grid-column: 1 / 9;
    grid-row: 1;
    text-align: center;
}
.home-left h4 {
    color: var(--pink);
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 500;
    padding-bottom: 7px;
}
.home-left h1 {
    font-size: 3rem;
    font-weight: 800;
}
.home-left .starts {
    color: var(--highlight);
}
.home-left p {
    font-size: 1.1rem;
}
.home-left p:first-of-type {
    padding-top: 23px;
}
.home-left-bottom {
    grid-column: 1 / 9;
    margin-top: 31px;
    padding: 0 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-left-bottom a button {
    min-width: 237px;
}
.home-left-bottom p {
    text-align: center;
    font-size: 1.1rem;
    padding-top: 21px;
    color: var(--pink);
}

/* MD SCREEN */
@media (min-width: 960px) {
    .home {
        margin-top: 7rem;
    }
    .home-main {
        margin-top: 73px;
    }
    .app {
        position: relative;
    }
    .home-left {
        grid-column: 1 / 6;
        margin-top: 21px;
        text-align: left;
        z-index: 2;
    }
    .home-left h1 {
        font-size: 5rem;
        font-weight: 800;
    }
    .home-left-bottom {
        grid-column: 1 / 5;
        margin-top: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        align-items: left;
        gap: 31px;
        /* background-color: blueviolet; */
        /* z-index: 3; */
    }
    .home-left-bottom a button {
        /* width: 100%; */
        min-width: 197px;
    }
    .home-left-bottom p {
        font-size: 1.1rem;
        padding-top: 21px;
        color: var(--pink);
    }
    .home-right {
        display: flex;
        position: absolute;
        right: 0;
        top: 75px;
        width: max(55%, 800px);
        z-index: 0;
    }    
}

/* XL SCREEN */
@media (min-width: 1280px) {
    .home-left {
        grid-column: 1 / 5;
    }
}

@media (min-width: 1350px) {
    .home-right {
        max-width: 971px;
    } 
}




























/* .home {
    grid-area: content;
}

.home-main {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    position: relative;
}
.home-left {
    color: var(--primary-text);
    font-size: 2.5rem;
    margin-top: 9rem;
    z-index: 1;
}
.starts {
    color: var(--highlight);
}
.home-left h4 {
    font-size: 0.8rem;
    color: var(--pink);
}
.home-left p {
    font-size: 1.1rem;
}
.home-left-bottom {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 3.2rem;
}
.home-left-bottom > p {
    color: var(--pink);
}
.home-right {
    position: absolute;
    right: 0;
    top: 10px;
    width: 65vw;
    height: auto;
} */
