.home {
    grid-area: content;
    padding-bottom: 300px;
}

.home-main {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 30%;
    height:100vh; */
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    position: relative;
}
.home-left {
    color: var(--primary-text);
    font-size: 2.5rem;
    max-width: 40%;
    margin-top: 9rem;
    z-index: 1000;
}
.starts {
    color: var(--highlight);
}
.home-left h4 {
    font-size: 0.8rem;
}
.home-left p {
    font-size: 1.1rem;
}
.home-left-bottom {
    display: flex;
    max-width: 67%;
    justify-content: space-between;
    margin-top: 3.2rem;
}
.home-left-bottom > p {
    color: var(--pink);
}
@media (max-width: 968px) {
    .home-lux {
        max-width: 400px;
        top: 37%;
        right: -11%;
    }
}
@media (max-width: 768px) {
    .home-right, .home-lux {
        display: none;
    }
}
.home-right {
    position: absolute;
    right: 0;
    top: 10px;
    width: 65vw;
    height: auto;
}
