.home {
    grid-area: content;
    padding-bottom: 100px;
}

.home-main {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    position: relative;
}
.home-left {
    color: var(--primary-text);
    font-size: 2.5rem;
    /* max-width: 40%; */
    margin-top: 9rem;
    z-index: 1;
}
.starts {
    color: var(--highlight);
}
.home-left h4 {
    font-size: 0.8rem;
    color: var(--pink);
}
.home-left p {
    font-size: 1.1rem;
}
.home-left-bottom {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 3.2rem;
}
.home-left-bottom > p {
    color: var(--pink);
}
.home-right {
    position: absolute;
    right: 0;
    top: 10px;
    width: 65vw;
    height: auto;
}
