.tips-bg {
    background-color: var(--bg-white);
}

/* MOBILE SCREEN */
.left-tips {
    display: none;
}
.tips-bg > h2 {
    text-align: center;    
    margin-top: 47px;
}
.right-tips {
    margin-top: 47px;
    margin-bottom: 31px;
    grid-column: 1 / 9;
}
.tip-box {
    grid-column: 1 / 9;
    height: max-content;
}
.tip-box > p:first-of-type {
    background-color: var(--highlight);
    color: var(--bg-white);
    max-width: max-content;
    padding: 5px 13px 5px 13px;
    margin-bottom: 7px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 20px;
}
.tip-box > h3 {
    font-size: 1.3rem;
}


@media (min-width: 620px) {
    .tip-box {
        grid-column: span 4;
    }
}


@media (min-width: 1280px) {
    .left-tips {
        display: block;
        grid-column: 1 / 5;
        margin-top: 47px;
        margin-bottom: 31px;
    }
    .left-tips > img {
        width: max(90%, 520px);
        height: max(90%, 637px);
        border-radius: 23px;
    }
    .right-tips {
        grid-column: 5 / 9;
    }
}