.cars {
    grid-area: content;
    background-color: var(--bg-white);
    padding: 53px 0px;
    margin-top: 37px;
}

/* MOBILE SCREEN */
.cars > h2 {
    text-align: center;
    padding-bottom: 2rem;
}
.car-search {
    background-color: aliceblue;
    padding: 37px 0px;
    text-align: center;
}
.car-search p {
    padding-bottom: 11px;
    font-size: 1.2rem;
    font-weight: 600;
}
.car-make {
    grid-column: 1 / 9;
    margin-bottom: 21px;
}
.car-model {
    grid-column: 1 / 9;
    margin-bottom: 29px;
}
.car-btn {
    grid-column: 1 / 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 19px;
}
.car-btn * {
    width: 50%;
}
.car-select {
    font-family: inherit;
    border: none;
    outline: none;
    padding: 13px 9px 13px 9px;
    border-radius: 9px;
    font-size: 1.1rem;
}

.scs-bgg {
    width: min(100%, 527px)
}
.single-cr-search {
    background-color: bisque;
    margin-top: 53px;
    padding: 17px;
}
.scs-main {
    background-color: aquamarine;
    grid-column: 1 / 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.scs-main button {
    font-size: 0.8rem;
    padding: 0.8rem 0.5rem;
}
.scs > h2 {
    font-size: clamp(1rem, 1rem + 2vw, 2.5rem);
}
.scs-car {
    background-color: blueviolet;
    display: block;    
    width: 100%;
    grid-column: 1 / 9;
}
.scs-btm {
    background-color: tan;
    grid-column: 1 / 9;
    display: flex;
}
