.app {
    display: grid;  
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'navbar'
    'content'
    'footer';
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: auto;
}



.footer {
    grid-area: footer;
    background-color: rgb(13, 192, 117);    
}