.app {
    display: grid;  
    grid-template-areas: 
    'navbar'
    'content'
    'footer';
    min-height: 100vh;    
}




/* DON'T TOUCH THE CODE BELOW UNTIL THE PROJECT IS COMPLETE */
/* 
XS SCREEN
@media (min-width: 475px) {
    
}

S SCREEN
@media (min-width: 640px) {
   
}

MD SCREEN
@media (min-width: 768px) {
   
}

L SCREEN
@media (min-width: 1024px) {
   
}

XL SCREEN
@media (min-width: 1280px) {
   
} */