























/* .personal-form {
    background-color: #fff;
}
.complete-it {
    background: var(--pink);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: var(--bg-white);
    word-spacing: 9px;
    letter-spacing: 2px;
    font-size: 1.3rem;
}
.voucher-bg {
    background-color: rgba(255, 101, 132, 0.3);
    padding: 11px;
    margin-bottom: 23px;
}
.personal-voucher {
    padding: 17px;
}
.personal-voucher > h3, .choosen-vehicle > h3 {
    font-size: 1.5rem;
    color: var(--secondary-text);
    margin: 10px 0px 7px 0px;
}
.personal-voucher > p {
    font-size: 1.1rem;
    color: var(--secondary-text);
    text-align: center;
    font-weight: 500;
}
.car-details {
    margin-bottom: 30px;
}
.choosen-vehicle {
    text-align: center;
}
.choosen-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 27px 2px;
    grid-template-rows: minmax(50px, auto);
    margin-top: 17px;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: var(--secondary-text);
}
.reserve-info > p {
    margin-bottom: 5px;
    font-size: 19px;
    font-weight: bold;
}
.reserve-info > span {
    font-size: 17px;
}


.filling-form {
    margin-bottom: 50px;
    color: var(--secondary-text);
}
.personal-container {
    font-size: 1.4rem;
    margin-bottom: 30px;
    border-top: 3px solid var(--highlight);
}
.personal-names, .personal-digit, .personal-live {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.container input {
    width: 100%;
    padding: 13px;
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: var(--bg-white);
    font-size: 17px;
    color: var(--secondary-text);
} 
.personal-names, .personal-digit, .personal-live, .personal-address, .personal-email {
    margin-top: 20px;
}
.star-sym {
    color: var(--pink);
}

.personal-btn {
    padding: 17px;
    width: 100%;
} */