.container {
    /* background-color: bisque; */
    max-width: 80%;
    margin: 0 auto;
}

.personal-form {
    background-color: #ffffff;
}
.complete-it {
    background: var(--third);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: var(--seventh);
}
.close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 23px;
    color: var(--seventh);
}
.close:hover {
    color: orangered;
}
.voucher-bg {

background-color: rgba(6, 173, 165, 0.25);
    min-height: 120px;
    margin-bottom: 23px;
}
.personal-voucher {
    padding-top: 17px;
}
.personal-voucher > h3, .choosen-vehicle > h3 {
    font-size: 25px;
    color: var(--first);
    margin: 10px 0px 7px 0px;
}
.personal-voucher > p {
    font-size: 19px;
    color: var(--first);
}
.car-details {
    /* border-bottom: 3px solid orangered; */
    margin-bottom: 30px;
}
.choosen-vehicle {
    text-align: center;
}
.choosen-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 27px 2px;
    grid-template-rows: minmax(50px, auto);
    margin-top: 17px;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: rgba(58, 70, 93, 0.85);
}
.reserve-info > p {
    margin-bottom: 5px;
    font-size: 19px;
    font-weight: bold;
}
.reserve-info > span {
    font-size: 17px;
}

/* FORM IT SELF */
.filling-form {
    /* background-color: cornsilk; */
    margin-bottom: 50px;
    border-bottom: 3px solid var(--sixth);
    color: var(--first);
}
.personal-container {
    font-size: 23px;
    margin-bottom: 30px;
    border-top: 3px solid var(--sixth);

}
.personal-names, .personal-digit, .personal-live {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.container input {
    width: 100%;
    padding: 13px;
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: rgba(150, 155, 174, 0.3);
    font-size: 17px;
    color: var(--first);
} 
.personal-names, .personal-digit, .personal-live, .personal-address, .personal-email {
    margin-top: 20px;
}
.star-sym {
    color: orangered;
}

.personal-btn {
    padding: 17px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: orangered;
    color: var(--seventh);
    font-size: 27px;
    opacity: 1;
}
.personal-btn:hover {
    opacity: 0.9;
}