.personal-main-form {
    background-color: #fff;
    z-index: 9999;
}
.personal-form {
    /* background-color: aquamarine; */
    z-index: 9999;
}
/* MOBILE SCREEN */
/* .personal-form-start {
    padding: 13px;
} */
.complete-it {
    background: var(--pink);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px;
}
.complete-it > h1 {
    font-size: 1.1rem;
}
.complete-it button {
    padding: 3px 17px;
}
.personal-voucher {
    padding: 0.5rem;
    text-align: center;
    color: var(--secondary-text);
    font-size: 1.3rem;
    background-color: var(--pinky);
}
.personal-voucher > h3 {
    margin-top: 23px;
}
.personal-voucher > p {
    margin: 23px 0px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0;
    font-style: italic;
}
.car-details {
    padding: 23px 0px;
    display: flex;
    flex-direction: column;
}
.choosen-vehicle {
    text-align: center;
    font-size: 1.3rem;
    padding: 0.5rem;
}

.choosen-info {
    margin-top: 37px;
    padding-bottom: 17px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.reserve-info > p {
    padding: 0px;
    color: var(--highlight);
    margin-bottom: 5px;
    font-size: 19px;
    font-weight: bold;
}
.reserve-info > span {
    font-size: 1.1rem;
}

/* FILLING FORM */
.filling-form {
    margin-top: 53px;
    text-align: center;
}
.filling-form > h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.filling-form p {
    padding-bottom: 0.5rem;
}

.personal-name, .personal-surname, .personal-email, .personal-phone, .personal-age, .personal-address, .personal-address, .personal-city, .personal-post {
    grid-column: 1 / 9;
    margin: 13px 0px 0px 0px;
}

.personal-btn {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.personal-btn > button {
    width: 100%;
    max-width: 193px;
}
.personal-container p {
    text-align: left;
}
.personal-container input {
    width: min(100%, 400px);
    padding: 13px;
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: var(--bg-white);
    color: var(--secondary-text);
} 
.star-sym {
    color: var(--pink);
}

@media (min-width: 620px) {

    .complete-it > h1 {
        font-size: 1.7rem;
    }
    .complete-it button {
        padding: 11px 27px;
    }

    .car-details {
        padding: 23px 0px;
        display: block;
    }
    .choosen-vehicle {
        text-align: center;
        font-size: 1.3rem;
        padding: 0.5rem;
    }
    
    .choosen-info {
        text-align: normal;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 41px;
    }
     .reserve-info > p {
        margin-bottom: 11px;
        font-size: 1.5rem;
    }
    .reserve-info > span {
        font-size: 1.3rem;
    } 
    .filling-form {
        text-align: left;
    }
    .filling-form > h2 {
        text-align: center;
    }
}

@media (min-width: 768px) {

    .complete-it > h1 {
        font-size: 2rem;
    }

    .personal-name, .personal-surname, .personal-email, .personal-phone, .personal-age, .personal-address, .personal-address, .personal-city, .personal-post {
        grid-column: span 4;
        margin: 13px 0px 0px 0px;
    }
}